@import url("Components/container.css");
@import url("Components/avatar.css");
@import url("Components/button.css");
@import url("Components/banner.css");
@import url("Components/card.css");
@import url("Components/banner.css");

/* POLICES */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* TITRES */
h1, h2, h3 {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 700;
}

