.cards {
  display: flex;
  flex-wrap: wrap;
}


.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  padding: 20px;
  margin: 15px ;
  flex-basis: 250px;
  flex-grow: 1;

  width: 100%;
  max-width: 700px;

  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 18px;
  margin: 0;
}
.card .btn-blue {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
}

